*{
    text-align: center;
}

.links {
    padding: 10px;
    margin-top: 8px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

h1{
    margin-bottom:350px;
}

div {
    height: 80vh;
    width: 80vw;
}

svg {
    height: 100%;
    width: 100%;
}

p, a, pre{
    font-size: 30px;
    color:black;
}